* { 
padding: 0em;
margin: 0;
font-size: 100%;
line-height: 1cm;
}


/*-------------------*/

header {
    
    padding-top: 7em;
    padding-bottom: 7em;
    
}

.lightgray {
    background-color: #DFDEDF;
    padding-top: 7em;
    padding-bottom: 7em;
}

.lightgray2 {
    background-color: #DFDEDF;
    padding-top: 8em;
    padding-bottom: 3em;
}

.darkgrey {
background-color: #666666;
padding-top: 8em;
padding-bottom: 8em;
}


/*------plant icons---------------*/

.parallax {
    background: url("images/paralaxone.svg") 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: .5em;}

.parallax2 {
    background: url("images/parallaxtwo.svg") 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.9;
    margin-top: 3em;
margin-bottom: 2em;}


.parallax-inner {
 padding-top: 40%;
 padding bottom: 50%;}

/*---------------------*/


.poster

{width: 100%;}

.intro {
    width: 100%;
   display: block;
    
}

.botanist {
width: 25%;
padding-top: 4em;
padding-bottom: 3.5em;
}

.one {
width: 5%;
padding-top: 4em;
padding-bottom: 3.5em;
animation-duration: 2s;
animation-delay: 0.2s;}


.two {
width: 4.5%;
padding-top: 4em;
padding-bottom: 3.5em;
animation-duration: 2s;
animation-delay: 0.4s;
}


.three {
width: 4.2%;
padding-top: 4em;
padding-bottom: 3.5em;
animation-duration: 2s;
animation-delay: 0.6s;
}


.four {
width: 5%;
padding-top: 4em;
padding-bottom: 3.5em;
animation-duration: 2s;
animation-delay: 0.8s;
}

.plant1 {
    width: 11%;
    padding-bottom: 3.4em;
    padding-left: 1em;
}

.plant2 {
    width: 12%;
padding-bottom: .5em;
padding-left: 1em;}

.plant3 {
    width: 10%;}

.plant4 {
    position: relative;
    width: 13%;
    padding-bottom: .5em;}

.plant5 {
    position: relative;
    width: 15%;
    padding-bottom: 5em;}

.plant6 {
    position: relative;
    width: 9%;
    padding-top: 3em;}

.plant7 {
    position: relative;
    width: 7%;
    padding-top: 2.3em;
    padding-left: 2em;}

.plant8 {
    position: relative;
    width: 11%;
    padding-bottom: 2.2em;
    padding-left: 1.5em;}

.plant9 {
    position: relative;
    width: 8%;
    padding-top: 5em;
    padding-left: 1.5em;}

.plant10 {
    position: relative;
    width: 15%;
    padding-bottom:1.7em;
    padding-left: em;}

.plant11 {
    position: relative;
    width: 8%;
    padding-top:1.2em;
    padding-left: 1em;}

.plant12 {
    position: relative;
    width: 8%;
    padding-top:3em;
    padding-left: 1em;}

.plant15 {
    position: relative;
    width: 8%;
    padding-top:3.4em;
    }

.plant14 {
    position: relative;
    width: 6%;
    padding-top:9em;
    padding-left: 1em;}

.plant13 {
    position: relative;
    width: 22%;
    padding-bottom: 2em;
    }



.phones {
    display: block;
    animation-delay: ;
    
}

.text {
    position: absolute;
    left: 20em;
    top: 50em;
    animation-duration: 2s;
}

.greenhouse {
   
    width: 45%;
    padding-top: 6em;
    padding-bottom: 6em;
    
}

/*---------------------*/

.button {
    position: relative;
    width: 25%;
    background-color: #576660;
    border: none;
    padding-top: 1em;
    padding: px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 40px 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 1;
    border-radius: 5px;
}

.button:hover {
    background-color:#;
    
}

.download {
    padding-top: 1em;
}
